.Movies_list {
  text-decoration: none;
  font-size: 18px;
  color: #022829;
  font-weight: bold;
}

.List_item {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 3px;
  font-size: 25px;
}

.List_item:hover {
  background-color: rgba(117, 148, 148, 0.219);
  font-size: 27px;
}
