.Navigation_link {
  color: rgb(20, 53, 19);
  text-decoration: none;
  padding: 12px;
  font-weight: 800;
  font-size: 25px;
}
.Navigation_container {
  display: inline-block;
}

.Navigation {
  background-color: cadetblue;
}
